
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(239, 243, 243);
}

h1{
    text-align: center;
    margin: 5%;
}

header{
  text-align: center;
  color: rgba(30, 39, 46,1.0);
  margin:2%;
}


.bg-black_1{
  background-color:  rgb(33, 32, 110);
}

nav{
  margin: 10px;
}

#barranav ul li{
  margin: 10px;
}



#form-contact{
  color: #fff;
  text-align: center;
}

#form-contact:hover {
  color:  rgb(148, 145, 138);
  background-color:  #fff;
}



 
  .mb-3 {
    width: 40%;
    margin-left: 30%;
    border-radius: 5%;
    border-color: #fff;
  }
  
 

#btn-2 {
  width: 100px;
  margin-left: 40%;
  background-color:  rgb(33, 32, 110);
  color: #fff;
  border-color: #fff;
  font-size: small;
}



#tabla_usuarios {

padding: 1%;

margin-right: 5%;
margin-left: 5%;
color:rgb(112, 98, 61);
background-color:  rgba(161, 202, 206, 0.87);

}

#form_registro{

padding: 2%;
margin-left: 10%;
font-size: small;

}

#form_mail{


  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 2%;
  
  }

  
#asunto{

margin-right: 40%;

}

#registro{

  margin-bottom: 5%;
}
#logo {

width: 33%;
margin-left:33%;
margin-right:33%;
}



footer {
  background-color: rgb(33, 32, 110);
  color:#fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10%;


  margin:10px;
  position: relative;
  z-index: 0;

  font-size: small;

}

#confirma{
  color: rgb(83, 79, 69);
  font-size: x-large;
  text-align: center;
  margin: 5%;
}

#btn-3 {
  width: 15%;
  margin-left: 40%;
  background-color:  rgb(148, 145, 138);
  color: #fff;
  border-color: #fff;
  margin-bottom: 3%;
}

#form_login{
  margin-left: 40%;
  margin-right: 20%;
  margin-bottom: 5%;
  
}

#usuario {
  color: rgb(33, 32, 110);
  font-size: large;
  text-align: right;
  margin-right: 10%;
}

#btn-4 {
  width: 100px;
  margin-left: 45%;
  background-color:  rgb(33, 32, 110);
  color: #fff;
  border-color: #fff;
}

#editar
{
  color: #fff;
  text-decoration: none
}

#btn-5 {
  width: 15%;
  margin-left: 43%;
  background-color:  rgb(148, 145, 138);
  color: #fff;
  border-color: #fff;
  margin-bottom: 3%;
  text-decoration: none;
}

#subir_foto{
 font-size: small;

}

#galeria{
  padding: 1%;
  margin-left: 5%;
}

#descripcion_foto {
font-size: small;
padding-bottom: 2%;

}

#image{
  width: 90%;
  height: 90%;

}
#btn-6 {
  width: 100px;
  background-color:  rgb(33, 32, 110);
  color: #fff;
  border-color: #fff;
  font-size: small;
}

#form_subir_foto{
  text-align: left;
 

}

#subir_foto_form{
  margin:5%
}