
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(228, 241, 241);
}

h1{
    text-align: center;
    margin: 5%;
}

header{
  text-align: center;
  color: rgba(30, 39, 46,1.0);
  margin:2%;
}


.bg-black_1{
  background-color:  rgb(148, 145, 138);
}

nav{
  margin: 10px;
}

#barranav ul li{
  margin: 10px;
}



#form-contact{
  color: #fff;
  text-align: center;
}

#form-contact:hover {
  color:  rgb(148, 145, 138);
  background-color:  #fff;
}



 
  .mb-3 {
    width: 40%;
    margin-left: 30%;
    border-radius: 5%;
    border-color: #fff;
  }
  
 

#btn-2 {
  width: 25%;
  margin-left: 38%;
  background-color:  rgb(148, 145, 138);
  color: #fff;
  border-color: #fff;
}



#tabla_usuarios {

padding: 1%;
margin-top: 5%;
margin-right: 5%;
margin-left: 5%;
color:rgb(112, 98, 61);
background-color:  rgba(161, 202, 206, 0.87);

}

#form_registro{

padding: 5%;
margin-left: 10%;

}

#logo {

width: 33%;
margin-left:33%;
margin-right:33%;
}



footer {
  background-color: rgb(148, 145, 138);
  color:#fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10%;
  padding-bottom: 1%;
  margin:10px;
  position: relative;
  z-index: 0;

  font-size: small;

}

#confirma{
  color: rgb(83, 79, 69);
  font-size: x-large;
  text-align: center;
  margin: 5%;
}

#btn-3 {
  width: 15%;
  margin-left: 40%;
  background-color:  rgb(148, 145, 138);
  color: #fff;
  border-color: #fff;
  margin-bottom: 3%;
}