{%extends 'base_layout.html'%}

{%block content%}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Valeria Sanchez - RegistroAsistentesEvento</title>
</head>
<body>

    <div class="logo">
        <img id="logo" src="{% static 'aplicacion1/images/bg.jpg'%}" class="img-fluid" alt="logo.png">
    </div>
    <h1>Registro de asistentes a evento</h1>



</body>
{%endblock content%}
</html>