{%extends 'base_layout.html'%}{%block content%}



<body >
<script>

  function modal_eliminar(id) {
    Swal.fire ({
      title: 'estas seguro?',
      text: "esta accion no se puede deshacer",
      icon: 'question',
      showCancelButton: true,
      cancelButtonText: 'No',
      showConfirmButton: true,
      confirmButtonText: 'Si, borrar'
   
    })
    .then (function(result) {
        if (result.isConfirmed) {
          window.location.href = "/eliminar_alumno/"+id
        }

    })
    
  }

</script>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <header>
        <h1>Lista de Asistentes</h1>
      </header>    
    </div>
    <div class="col-sm-3">

        <a href="{% url 'export_excel' %}" class = "btn btn-primary" id='btn-2'> Exportar a Excel </a>

    </div>
  </div>
</div>



 
<div div class="col-sm" id="tabla_usuarios">
    <table id="example" class="stripe" > 
      <thead>
     
        <tr>
          <th>nombre</th>
          <th>apellido paterno </th>
          <th>apellido materno</th>    
          <th>E-mail</th>
          <th>telefono</th>
          <th>rut</th>
          <th>editar / eliminar</th>
    
      </thead>

      <tbody>
        {% for men in data %}
        <tr>
          <td>{{men.nombre}}</td>
          <td>{{men.apellido_paterno}}</td>
          <td>{{men.apellido_materno}}</td>
          <td>{{men.email}}</td>
          <td>{{men.telefono}}</td>
          <td>{{men.rut}}</td>
          <td><button id="btn-4"><a id="editar" href ='/editar_alumno/{{men.id}}'>editar</a></button>
          <button id="btn-4"href ='#' onclick="modal_eliminar({{men.id}})">eliminar</button>  </td>
          
        </tr>
        {% endfor %} 
      </tbody>

     
      <tfoot>
    
      </tfoot> 
    </table>
</div>

</body>

</html>



{%endblock content%}  

