{%extends 'base_layout.html'%}

{%block content%}
{% load static %}

<div id="titulo">
    <h1 id="titulo1"> Ingresar </h1>
</div>

<div class="container">
    <div class="row">

        {% load crispy_forms_tags %}
        <div class="container">
        <form action="/login/" method="POST">
            {% csrf_token %}
            <div id="form_login"> 
        
                    <div class="col-sm-6">
                      {{ form.nombre|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                      {{ form.password|as_crispy_field }}
                    </div>


        </div>

        <div class="d-grid gap-2 d-md-block">
            <button id="btn-2" class="btn btn-outline-dark">Ingresar</button>
          </div>
        </form>
        
      </div>
      <div class="col-2">
        
      </div>
    </div>
  </div>
{%endblock content%}
</html>