{%extends 'base_layout.html'%}

{%block content%}
{% load static %}

<h1>Registro Asistentes</h1>

{% load crispy_forms_tags %}


<div  id='form_registro'class="container-fluid">
    <div class="row">
      <div class="col-9">
<form action="" method="POST">
    {% csrf_token %}
    <div id="form_register"> 
        <div id="registro" class="row">
            <div class="col-sm-4">
              {{ form.nombre|as_crispy_field }}
            </div>
            <div class="col-sm-4">
              {{ form.apellido_paterno|as_crispy_field }}
            </div>
            <div class="col-sm-4">
                {{ form.apellido_materno|as_crispy_field }}
              </div>
            
            </div>
              <div class="row">
              <div class="col-sm-4">
                {{ form.telefono|as_crispy_field }}
              </div>
              <div class="col-sm-4">
                {{ form.email|as_crispy_field }}
              </div>
              <div class="col-sm-4">
                {{ form.rut|as_crispy_field }}
              </div>
            </div>
        </div>

    </div>
    </div>
</div>
</div>
<div class="col-sm-12">
  <button id="btn-2" class="btn btn-primary btn-block" type="submit"/>Registrar</button>
</div>

</form>





{%endblock content%}