{%extends 'base_layout.html'%}

{%block content%}
{% load static %}

{% load crispy_forms_tags %}


<div  id='form_registro'class="container-fluid">
    <div class="row">
      <div class="col-9">
<form action="" method="POST">
    {% csrf_token %}
    <div id="form_register"> 
        <div class="row">
            <div class="col-4">
              {{ form.nombre|as_crispy_field }}
            </div>
            <div class="col-4">
              {{ form.apellido_paterno|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.apellido_materno|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.telefono|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.email|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.generacion|as_crispy_field }}
              </div>
        </div>

    </div>
    </div>
</div>
</div>
  <input id="btn-2" class="btn btn-outline-dark" type="submit" value="Registrar"  />


</form>





{%endblock content%}